* {box-sizing: border-box;}
body { 
	font-size: 20px;
	margin: 0;
	background-color: rgb(249, 249, 249);
}
h1,h2,.button{
  color: rgb(38, 38, 38);
  margin: 24px
}
h1 {
	font-size: 53px;
}
h2 { 
	font-size: 33px;
  font-weight: bold;
  margin-top: 8px;
	line-height: 32px;
}
p {
  color: rgb(72, 72, 72);
  font-size: 20px;
  margin: 24px;
  margin-top: 8px;
}

header h2 {font-weight: normal;}
header {
	margin: auto;
}
img { width: 100%; }

.feature .article-tidbit {
	display:none;
}

article, .feature {
	margin-bottom: 40px;
}
.feature .feature-content, .content-card {
	width: 100%;
}
.feature, .news-thumbs {
	display: flex;
  flex-direction: column;
}
.feature div, .news-thumbs article {
  flex: 1;
}
.feature-content {
  padding: 0px;
}
.button {
	display:inline-block;
	padding: 12px 16px;
	border: 1px solid rgb(38, 38, 38);
	text-decoration: none;
	color:rgb(38, 38, 38);
  font-size: 20px;
  border-radius: 4px;
  margin: 24px;
}
.button:hover {
  color: rgb(38, 38, 38);
  background-color: rgb(231, 255, 94);
}
img {
  filter: grayscale(100%);
}
img:hover {
  filter: grayscale(0%);
}

@media only screen and (min-width: 768px) {
  h1, h2 {
    margin: 0px;
  }
	h1 {
		font-size: 90px;
    line-height: 90px;
    margin-top: 40px;
	}
	h2 {
		font-size: 32px;
    line-height: 32px;
    padding-top: 8px;
	}
	header {
    width: 80%;
  }
  p, .button {
    margin: 0%;
    margin-top: 24px;
  }
	header h2 {font-weight: bold;}
	.feature, .news-thumbs {
		flex-direction: row;
		margin: 0 auto;
    width: 80%;
    padding-top:32px;
    padding-bottom:8px;
	}
	article {
		margin-right: 32px;
	}
	article:last-child {
		margin-right:0;
	}
	.news-thumbs {margin-top: 40px;}
	.feature .article-tidbit {
		display:block;
  }
  .feature-content {
    padding-left: 32px;
  }
  img {
    border-radius: 12px;
  }
  .button {
    margin-bottom: 40px;
  }
}


@media only screen and (min-width: 2400px) {
	.feature, .news-thumbs, header {
		width: 100%;
	}

}