* {box-sizing: border-box;}
body { 
	font-size: 20px;
	margin: 0;
}

h1 {
	font-size: 32px;
	line-height: 38px;
	margin-bottom:0;
}
h2 { 
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	margin:0;
}
header h2 {font-weight: normal;}
header {
	width: 90%;
	margin: auto;
}
img { width: 100%; }

.feature .article-tidbit {
	display:none;
}

article, .feature {
	margin-bottom: 40px;
}
.feature .feature-content, .content-card {
	width: 90%;
	margin: auto;
}
.feature, .news-thumbs {
	display: flex;
	flex-direction: column;
}
.feature div, .news-thumbs article {
	flex: 1;
}
.feature-content {padding-left: 40px;}
.button {
	display:inline-block;
	padding: 12px 16px;
	border: 1px solid black;
	text-decoration: none;
	color: black;
	margin-bottom: 20px;
}
.button:hover {
	border: 1px solid red;
	color: red;
}

@media only screen and (min-width: 768px) {
	h1 {
		font-size: 60px;
		line-height: 68px;
	}
	h2 {
		font-size: 32px;
		line-height: 42px;
	}
	header {
		width: 80%;
	}
	header h2 {font-weight: bold;}
	.feature, .news-thumbs {
		flex-direction: row;
		margin: 0 auto;
		width: 80%;
	}
	article {
		margin-right: 30px;
	}
	article:last-child {
		margin-right:0;
	}
	.news-thumbs {margin-top: 60px;}
	.feature .article-tidbit {
		display:block;
	}

}


@media only screen and (min-width: 2400px) {
	.feature, .news-thumbs, header {
		width: 60%;
	}

}